@model TextPortCore.ViewModels.BranchListContainer
@using TextPortCore.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Branch Management";
}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Management</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

    <script type="text/javascript">
        var timer;

        $(document).ajaxStart(function () {
            timer && clearTimeout(timer);
            timer = setTimeout(function () {
                $('#spintiller').show();
            }, 300);
        }).ajaxStop(function () {
            clearTimeout(timer);
            $('#spintiller').hide();
        }).ajaxComplete(function () {
            clearTimeout(timer);
            $('#spintiller').hide();
        }).ajaxError(function () {
            clearTimeout(timer);
            $('#spintiller').hide();
        });

        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            setSortIndicator();
            loadItems(1);

            $('#btn-additem').on('click', function () {
                var url = '/branches/add-branch';
                var target = $(this).data('target');
                $.get(url, function (data) {
                    $(target).html(data);
                    $(target + ' > .modal').modal({ keyboard: true }, 'show');
                    $.validator.unobtrusive.parse("#form-add");
                });
                return false;
            });

            $(".sch-field").keyup(function (e) {
                if (e.keyCode === 13 && e.target.value.length >= 5) {
                    executeSearch();
                }
            });
        });

        function loadItems(page) {
            var operation = $("#operation").val();
            var recordsPerPage = 20; // $("#rowsToShow option:selected").val();
            var previousRecordsPerPage = $("#prevRecordsPerPage").val();
            var sortBy = $("#sortBy").val();
            var prevSortBy = $("#prevSortBy").val();
            var sortOrder = $("#sortOrder").val();
            var searchString = $("#SearchString").val();
            var searchBy = $("#SearchBy").val();
            var searchState = $("#SearchState").val();

            $("#currentPage").val(page);
            $("#prevRecordsPerPage").val(recordsPerPage);

            var params = {
                Operation: operation,
                Page: page,
                RecordsPerPage: recordsPerPage,
                PreviousRecordsPerPage: previousRecordsPerPage,
                SortBy: sortBy,
                PrevSortBy: prevSortBy,
                SortOrder: sortOrder,
                SearchString: searchString,
                SearchBy: searchBy,
                SearchState: searchState
            };

            $.post({
                url: '/branches/getbranchpage',
                data: JSON.stringify(params),
                contentType: "application/json",
                cache: false,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ": Message data load failed. " + errorThrown);
                },
                success: function (inboxData) {
                    $("#inv-list").html(inboxData.html);
                    $("#recordLabel").text(inboxData.recordLabel);
                    $("#currentPage").val(inboxData.page);
                    $("#recordsPerPage").val(inboxData.recordsPerPage);
                    $("#sortOrder").val(inboxData.sortOrder);

                    setSortIndicator();
                    $("#cbSelectAll").prop("checked", false);

                    $('#paginator').twbsPagination('destroy');
                    $("#paginator").twbsPagination({
                        totalPages: inboxData.pageCount,
                        visiblePages: 10,
                        startPage: inboxData.page,
                        initiateStartPageClick: false,
                        onPageClick: function (event, page) {
                            $("#operation").val('page');
                            loadItems(page);
                        }
                    });

                    $('.btn-edit').on('click', function () {
                        var id = $(this).data("id");
                        var url = '/branches/edit-branch/' + id;
                        var target = $(this).data('target');

                        $.get(url, function (data) {
                            $(target).html(data);
                            $(target + ' > .modal').modal({ keyboard: true }, 'show');
                        });

                        $(target).on("submit", "#form-edit", function (e) {
                            e.preventDefault();
                            e.stopImmediatePropagation();
                            var form = $(this);
                            $.ajax({
                                url: form.attr("action"),
                                method: form.attr("method"),
                                data: form.serialize(),
                                success: function () {
                                    $(target + ' > .modal').modal('toggle');
                                    loadItems($("#currentPage").val());
                                }
                            });
                        });
                        return false;
                    });
                }
            })
        }

        function resetSearch() {
            clearSearchParams();
            loadItems(1);
        }

        function changeRowCount() {
            loadItems($("#currentPage").val());
        }

        function changeSort(sortBy) {
            $("#operation").val('sort');
            $("#sortBy").val(sortBy);
            loadItems($("#currentPage").val());
            $("#prevSortBy").val(sortBy);
        }

        function executeSearch() {
            loadItems(1);
        }

        function clearSearchParams() {
            $("#SearchString").val("");
            $("#SearchBy").val("");
            $("#StateFilter").val("");
        }

        function selectAll() {
            $(".cbsel").prop("checked", $("#cbSelectAll").prop("checked"));
        }

        function setSortIndicator() {
            $('.sort-ind').hide();
            $("#img-sort-" + $("#sortBy").val()).attr('src', "/content/images/arw-sort-" + $("#sortOrder").val() + "-16.png").show();
        }



        function deleteItem(userId, userName) {
            bootbox.confirm({
                title: "Delete branch?",
                message: "Are you sure you want delete this branch " + userName + "?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Delete'
                    }
                },
                callback: function (result) {
                    if (result) {
                        var UserViewModel = {
                            UserId: userId
                        };
                        $.post({
                            url: '/branches/delete-branch',
                            data: JSON.stringify(UserViewModel),
                            contentType: "application/json",
                            cache: false,
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(textStatus + ": Delete operation failed. " + errorThrown);
                            },
                            success: function (partialResult) {
                                loadItems($("#currentPage").val());
                            }
                        })
                    }
                }
            });
        }
    </script>

    <style type="text/css">
        .table th {
            font-size: .9rem;
            padding: 8px 5px;
        }

        .table td {
            font-size: .8rem;
            padding: 5px 5px;
        }

        #spintiller {
            position: fixed;
            top: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            background-color: #666;
            background-image: url('/content/images/spintiller.gif');
            background-repeat: no-repeat;
            background-position: center;
            z-index: 10000000;
            opacity: 0.4;
            filter: alpha(opacity=40); /* For IE8 and earlier */
        }

        .list-head {
            color: #ffffff;
            font-size: 0.9rem;
            font-weight: 600;
            padding: 0 4px 8px 2px
        }

            .list-head:hover {
                color: #ffffff;
            }
    </style>
</head>

<body>
    <input type="hidden" id="operation" value="page" />
    <input type="hidden" id="prevRecordsPerPage" value="20" />
    <input type="hidden" id="currentPage" value="1" />
    <input type="hidden" id="sortBy" value="BranchName" />
    <input type="hidden" id="prevSortBy" value="BranchName" />
    <input type="hidden" id="sortOrder" value="asc" />
    <input type="hidden" id="recordsPerPage" value="20" />

    <div class="content-wrapper">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <div class="h4">Branch Management</div>
                    </div>
                    <div class="col-md-4 text-right">
                        <input type="button" id="btn-additem" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-cont" value="Add Branch" />
                    </div>
                </div>
            </div>
            <div>
                @*<div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="form-label lab1">Search for</label>
                                <input type="text" name="SearchString" id="SearchString" class="form-control sch-field" value="" placeholder="Search for...">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group mb-0 pb-0">
                                <label class="form-label lab1">In field</label>
                                <div>
                                    <select class="form-control" id="SearchBy">
                                        <option value="Name">Name</option>
                                        <option value="Email">Email</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="form-label lab1">&nbsp;</label>
                                <div>
                                    <button type="button" name="btnSearch" value="Search" id="btnSearch" class="btn btn-primary" onclick="return executeSearch()"><i class="fa fa-fw fa-search"></i> Search</button>
                                    <a href="javascript:resetSearch()" name="btnReset" id="btnReset" class="btn btn-danger">Reset</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="form-label lab1">&nbsp;</label>
                                <div class="form-inline pt-1">
                                    <select class="form-control form-control-sm" id="rowsToShow" onchange="changeRowCount()">
                                        <option value="20" selected>20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                    </select>
                                    <label class="col-form-label-sm ml-3">Records/Page</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="form-label lab1">&nbsp;</label>
                                <div>
                                    <input type="button" id="btn-additem" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-cont" value="Add Branch" />
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="row pt-2">
                    <div class="col-12 float-right my-0">
                        <div class="form-group">
                            <label id="recordLabel" class="small float-right pr-2"></label>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-sm table-striped border-bottom">
                        <thead>
                            <tr class="text-white" style="background-color: #007bff">
                                <th scope="col">
                                    <a href="javascript:changeSort('BranchName')" class="list-head btn-link">Branch Name</a>
                                    <img id="img-sort-BranchName" src="" class="sort-ind" />
                                </th>
                                <th scope="col">
                                    <a href="javascript:changeSort('Address')" class="list-head btn-link">Address</a>
                                    <img id="img-sort-Address" src="" class="sort-ind" />
                                </th>
                                <th scope="col">
                                    <a href="javascript:changeSort('City')" class="list-head btn-link">City</a>
                                    <img id="img-sort-City" src="" class="sort-ind" />
                                </th>
                                <th scope="col">
                                    <a href="javascript:changeSort('State')" class="list-head btn-link">State</a>
                                    <img id="img-sort-State" src="" class="sort-ind" />
                                </th>
                                <th scope="col">
                                    <a href="javascript:changeSort('Zip')" class="list-head btn-link">Zip</a>
                                    <img id="img-sort-Zip" src="" class="sort-ind" />
                                </th>
                                <th scope="col">
                                    <a href="javascript:changeSort('Manager')" class="list-head btn-link">Manager</a>
                                    <img id="img-sort-Manager" src="" class="sort-ind" />
                                </th>
                                <th class="list head text-center" style="width: 140px">Action</th>
                            </tr>
                        </thead>
                        <tbody id="inv-list"></tbody>
                    </table>
                </div>
                <ul id="paginator" class="pagination justify-content-center"></ul>
            </div>
        </div>
    </div>
    <div id="modal-cont"></div>
    <div id="spintiller"></div>
</body>
</html>
