@model TextPortCore.Models.IPData.IPDataResult
@{
    ViewData["Title"] = "IP Address Locator | TextPort";
    ViewData["Description"] = "IP Address Geolocation Lookup";
    ViewData["Keywords"] = "ip address locator, ip address lookup, ip address geolocation lookup, ip address check";
    ViewData["Url"] = "https://textport.com/tools/ip-address-locator";
}

<script type="text/javascript">
    $(function () {
        $("#ip").mask('0ZZ.0ZZ.0ZZ.0ZZ', {
            translation: {
                'Z': {
                    pattern: /[0-9]/, optional: true
                }
            }
        });
    });

    function setLatLong(lat, long) {
        $("#map-lat").val(lat);
        $("#map-long").val(long);
    }

    function initMap() {
        var lat = parseFloat($("#map-lat").val());
        var long = parseFloat($("#map-long").val());
        var coord = { lat: lat, lng: long };
        var map = new google.maps.Map(document.getElementById('map'),
            {
                center: coord,
                zoom: 9,
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false
            }
        );
        var marker = new google.maps.Marker({ position: coord, map: map });
    }
</script>

<input type="hidden" id="map-lat" value="" />
<input type="hidden" id="map-long" value="" />
<div class="row align-items-center main-banner">
    <div class="col-lg-5">
        <img class="img-fluid rounded mx-auto d-block mb-4 mb-lg-0" src="/content/images/ip-address-lookup.png" alt="IP address geolocation lookup tool" height="250" width="250">
    </div>
    <div class="col-lg-7 text-center text-lg-left">
        <h1 class="font-weight-light">IP Address Locator</h1>
        <h2>
            Lookup IP addresses to find their location. This tool provides IP location information, including: country, state, city, zip code, latitude/longitude,
            language, timezone, Internet provider, and more.
        </h2>
    </div>
</div>
<div class="card background-lt-gray my-5 py-4 sub-banner">
    <div class="row justify-content-center">
        <div class="col-auto">
            @using (Html.BeginForm("ip-address-locator", "tools", FormMethod.Post, new { id = "form-lookup", @class = "pt-3" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-inline">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.ip, new { @class = "form-control form-control-lg lu-input", placeholder = "IP Address" })
                    </div>
                    <button type="submit" id="btn-submit" class="btn btn-lg btn-primary ml-2">Lookup</button>
                </div>
                @Html.ValidationMessageFor(m => m.ip, null, new { @class = "text-danger mx-2" })
            }
        </div>
    </div>
    @if (!String.IsNullOrEmpty(Model.ip))
    {
        <div class="row">
            <div class="col-lg-5 col-md-10 mx-auto">
                @Html.Partial("_IPLookupResult", Model)
            </div>
        </div>
    }
</div>
<br />
<div>
    <h2 class="h3">What is IP Address Geo-location?</h2>
    <p>
        IP geo-location maps an IP address to the physical location of the computer or device to which that address is assigned. By geographically mapping the IP address, it provides
        information such as the country, state, city, zip code, latitude/longitude, ISP, area code, and other information.
    </p>
    <br />
    <h2 class="h3">How Does IP Geolocation Work?</h2>
    <p>
        An IP address is a sequence of numbers that uniquely identify any Internet-connected device. The management of these numbers is critical to the functionality of the Internet.
        The Internet Corporation for Assigned Names and Numbers (ICANN) oversees the assignment of all Internet IP addresses. ICANN assigns IP addresses to Regional Internet Registries (RIRs), who in turn assign
        them to Internet Service Providers (ISPs).
    </p>
    <p>
        When an IP addresses is allocated by an ISP, the physical location of the endpoint to which that address is assigned is registered with the governing RIR. All of this
        data is stored in databases managed by organizations, such as IP2Location, IPligence, MaxMind and Neustar who make this data publically available.
    </p>
    <br />
    <h2 class="h3">What is an IP Address?</h2>
    <p>
        Every device on the Internet, or private computer network is assigned a unique identifier. Just as a home or office is assigned a unique mailing address and postal code to facilitate mail delivery, a computer has a unique
        identifier to facilitate the delivery of data. The Internet utilizes a protocol known as TCP/IP to allow the routing of data to each Internet-connected device. TCP/IP uses IP Addresses
        to uniquely identify each device.
    </p>
    <p>
        There are two types of IP address: IPV4 and IPV6. IPv4 uses 32 binary bits to create a single unique address on the network. An IPv4 address is expressed by four number dotted-decimal format (e.g. 192.168.125.20). Each segment is commonly referred to as an octet.
        Each octet is a decimal representation of an eight-bit binary number. Decimal numbers are used as they are more human-readable. IPV4 allows for approximately 4.3
        billion addresses to be allocated Internet-wide. While that would appear adequate, since addresses are allocated in blocks, an ISP may not necessarily allocate all
        addresses in a given block. This results in large numbers of unused addresses.
    </p>
    <p>
        As the growth of the internet exploded, IP addresses were being allocated at an exponential rate. This raised concerns about the possible exhaustion of IPV4 addresses worldwide.
        This concern prompted the development and introduction of IPV6. IPV6 is a 128-bit binary address, which accommodates a maximum of 340 undecillion, or 340 billion billion
        billion billion, addresses. Cleary IPV6 allayed any fears of the IP address supply drying up. The Internet now operates using IPV4 and IPV6 addresses, both running
        on the original TCP/IP protocol.
    </p>
    <h2 class="h3">What is IP Geolocation Useful For?</h2>
    <p>
        Every device on the Internet, or private computer network is assigned a unique identifier. Just as a home or office is assigned a unique mailing address and postal code to facilitate mail delivery, a computer has a unique
        identifier to facilitate the delivery of data. The Internet utilizes a protocol known as TCP/IP to allow the routing of data to each Internet-connected device. TCP/IP uses IP Addresses
        to uniquely identify each device.
    </p>
    <h2 class="h3">Common Uses for IP Geolocation Information</h2>
    <p>
        The mapping of IP addresses to physical locations is useful for many reasons. If you run a web site or online service, tracking the IP addresses of visits to
        your site identifies what geographic areas your visitors are coming from. This data can be leveraged when selecting target areas for advertising campaigns
        or other marketing.
    </p>
    <p>
        When operating a web site that supports multiple languages, IP geolocation data can be used to automatically determine which language to display site content in or
        pre-select country or city options in fillable forms.
    </p>
    <p>
        IP location data has proven to be very effective in identifying the source of spam emails, hack attempts, or fraudulent activity against a web site or
        service. Although IP geolocation data generally cannot pinpoint an exact address, it can certainly narrow down the general area from which a hack originates.
    </p>
    <br />
</div>

