<div class="col-sm-3 col-md-3">
    <ul class="list-group">
        <li class="list-group-item border-bottom-0">
            <h5 class="text-primary mt-1 mb-3">API DOCUMENTATION</h5>
            <div class="text-primary sb-head">INITIAL SETUP</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><a href="~/documentation">Add an Application</a></li>
                <li class="list-group-item border-0 thin"><a href="~/documentation/assign-number">Assign a Number to an Application</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">ACCOUNT</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><div class="gpbtn get">GET</div><a href="~/documentation/account-balance">Get Balance</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">NUMBER MANAGEMENT</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><div class="gpbtn get">GET</div><a href="~/documentation/active-numbers">Active Numbers</a></li>
                <li class="list-group-item border-0 thin"><div class="gpbtn get">GET</div><a href="~/documentation/search-numbers">Search Numbers</a></li>
                <li class="list-group-item border-0 thin"><div class="gpbtn">POST</div><a href="~/documentation/get-number">Get a Number</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">MESSAGES</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><div class="gpbtn">POST</div><a href="~/documentation/send-message">Send a Message</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">TEST METHODS</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><div class="gpbtn get">GET</div><a href="~/documentation/ping">Ping</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">CALLBACK EVENTS</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><div class="gpbtn">POST</div><a href="~/documentation/delivery-receipt">Delivery Receipt</a></li>
                <li class="list-group-item border-0 thin"><div class="gpbtn">POST</div><a href="~/documentation/message-received">Message Received</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom border-top-0">
            <div class="text-primary sb-head">SWAGGER</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><a href="~/swagger">View Swagger Docs</a></li>
            </ul>
        </li>
    </ul>
</div>