<div class="col-sm-3 col-md-3">
    <ul class="list-group">
        <li class="list-group-item border-bottom-0">
            <div class="text-primary sb-head">SETUP</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><a href="~/documentation">Add An Application</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">NUMBER MANAGEMENT</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><div class="gpbtn get">GET</div><a href="~/documentation/numberslist">Search Numbers</a></li>
                <li class="list-group-item border-0 thin"><div class="gpbtn">POST</div><a href="~/documentation/getnumber">Get a Number</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">MESSAGES</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><div class="gpbtn">POST</div><a href="~/documentation/sendmessage">Send a Message</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">TEST METHODS</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><div class="gpbtn get">GET</div><a href="~/documentation/ping">Ping</a></li>
                @*<li class="list-group-item border-0 thin"><div class="gpbtn">POST</div><a href="#">Ping with response</a></li>*@
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">INBOUND EVENT FORMATS</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><a href="#">Delivery Receipt</a></li>
                <li class="list-group-item border-0 thin"><a href="#">Message</a></li>
            </ul>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
            <div class="text-primary sb-head">SWAGGER</div>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 thin"><a href="~/swagger">View Swagger Docs</a></li>
            </ul>
        </li>
    </ul>
</div>