<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TextPortContext" connectionString="Data Source=textmsgsvr1;Initial Catalog=StaffZoneSMS;Persist Security Info=True;User ID=staffzonesms;Password=TextPort2021" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="PRODUCTION" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SemaphoreFilesPath" value="C:\SMS\Semaphores\Regular\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BulkSemaphoreFilesPath" value="C:\SMS\Semaphores\Bulk\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSFilePath" value="C:\SMS\MMS\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSImagesBaseUrl" value="/mms/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSPublicBaseUrl" value="https://text.thestaffzone.net/mms/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UploadFilesBasePath" value="C:\SMS\UploadFiles\"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailTemplatesFolder" value="C:\SMS\EmailTemplates\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APILogFiles" value="C:\SMS\APILogFiles\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PayPalIPNFiles" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BandwidthAccountId" value="3000006"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthSubAccountId" value="45279"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthApplicationId" value="cac54f8c-c0a7-4472-9fd7-42066fc4fd7a"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthUserId" value="u-imdmn6chhceskespwwwox7a"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthUserName" value="richard@arionconsulting.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthPassword" value="Zealand!6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthApiToken" value="091c02aae3e8dd660fc2f99a328561790da68779e83aabd1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthApiSecret" value="f015bb36ce195ed94610f2e1489dc3619e47bb5c8ffc37f1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NexmoApiKey" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NexmoApiSecret" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FreeTextAccountId" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MaxFreeTextsPerIP" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MaxFreeTextsToMobileNumber" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoinbaseBaseUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoinbaseAPIKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoinbaseAPIVersion" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoinbaseEventLogs" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="Allow HTTP on WebServices folder" stopProcessing="true">
          <match url="webservices/*" />
          <action type="None" />
        </rule>
        <rule name="HTTP to HTTPS rewrite" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>