<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TextPortContext" connectionString="Data Source=acsql01.ct9fe8pkdxb5.us-west-2.rds.amazonaws.com;Initial Catalog=TextPort;Persist Security Info=True;User ID=TextPort;Password=Yowzer4" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="Environment" value="PRODUCTION" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SemaphoreFilesPath" value="D:\TextPort\Semaphores\Regular\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BulkSemaphoreFilesPath" value="D:\TextPort\Semaphores\Bulk\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSFilePath" value="D:\TextPort\MMS\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSImagesBaseUrl" value="/mms/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSPublicBaseUrl" value="https://textport.com/mms/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UploadFilesBasePath" value="D:\TextPort\UploadFiles\"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailTemplatesFolder" value="D:\TextPort\EmailTemplates\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APILogFiles" value="D:\TextPort\APILogFiles\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PayPalIPNFiles" value="D:\TextPort\PayPalIPNFiles\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BandwidthAccountId" value="3000006"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthSubAccountId" value="23092"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthApplicationId" value="5abf6fa7-5e0f-4f1c-828b-c01f0c9674c1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthUserId" value="u-imdmn6chhceskespwwwox7a"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthUserName" value="richard@arionconsulting.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthPassword" value="Zealand!6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthApiToken" value="091c02aae3e8dd660fc2f99a328561790da68779e83aabd1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthApiSecret" value="f015bb36ce195ed94610f2e1489dc3619e47bb5c8ffc37f1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NexmoApiKey" value="e73e8a78"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NexmoApiSecret" value="463c3ee5"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FreeTextAccountId" value="270379" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MaxFreeTextsPerIP" value="4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MaxFreeTextsToMobileNumber" value="4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoinbaseBaseUrl" value="https://api.commerce.coinbase.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoinbaseAPIKey" value="a9de1045-8688-4ae6-94a0-5c61b651156f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoinbaseAPIVersion" value="2018-03-22" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoinbaseEventLogs" value="D:\TextPort\CoinbaseEventLogs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="Allow HTTP on WebServices folder" stopProcessing="true">
          <match url="webservices/*" />
          <action type="None" />
        </rule>
        <rule name="HTTP to HTTPS rewrite" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
        </rule>
        <!-- Redirects from old site -->
        <rule name="Old reverse number lookup" stopProcessing="false">
          <match url="^number_locator" />
          <action type="Redirect" url="/tools/number-lookup" redirectType="Permanent" />
        </rule>
        <rule name="Old articles" stopProcessing="false">
          <match url="^articles.aspx" />
          <action type="Redirect" url="/blog" redirectType="Permanent" />
        </rule>
        <rule name="Old virtual numbers" stopProcessing="false">
          <match url="^virtual_mobile_numbers.aspx" />
          <action type="Redirect" url="/virtual-phone-numbers" redirectType="Permanent" />
        </rule>
        <!--<rule name="Old register" stopProcessing="false">
          <match url="^register_account.aspx" />
          <action type="Redirect" url="/trial" redirectType="Permanent" />
        </rule>
        <rule name="Old login-register" stopProcessing="false">
          <match url="^login_register.aspx" />
          <action type="Redirect" url="/trial" redirectType="Permanent" />
        </rule>-->
        <rule name="Old send picture" stopProcessing="false">
          <match url="^send_picture.aspx" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Old virtual mobile numbers" stopProcessing="false">
          <match url="^virtual-mobile-numbers" />
          <action type="Redirect" url="/virtual-phone-numbers" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>