<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TextPortContext" connectionString="Data Source=RICHARD-MBPRO;Initial Catalog=TextPort;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="TextPortContext" connectionString="Data Source=tpsql01.ct9fe8pkdxb5.us-west-2.rds.amazonaws.com;Initial Catalog=TextPort;Persist Security Info=True;User ID=TextPort;Password=Yowzer4" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="1.0.6" />
    <add key="SemaphoreFilesPath" value="C:\Junk\TextPort\OutboundMessageSemaphores\Regular\" />
    <add key="BulkSemaphoreFilesPath" value="C:\Junk\TextPort\OutboundMessageSemaphores\Bulk\" />
    <add key="MaxBulkMessagesToProcessPerLoop" value="5" />
    <add key="CheckForSemaphoresEveryXSeconds" value="2" />
    <add key="SemaphoreLoopCountBeforeRestart" value="1000" />
    <add key="SMTPServer" value="email-smtp.us-west-2.amazonaws.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPEnableSSL" value="true "/>
    <add key="SMTPUserName" value="AKIAIV63A4J4H7R4ZGUQ" />
    <add key="SMTPPassword" value="ArVk5kmbLcK8iFx5mSz5mP8kt3vD0XuvumPLjm5mz7yE" />
    <add key="EmailFrom" value="notifications@textport.com" />
    <add key="EmailInterMessageWaitMs" value="3250" />
    <add key="NexmoInterMessageWaitMs" value="3000" />
    <add key="CheckForVNExpirationsEveryXHours" value="1" />
    <add key="RunVirtualNumberAuditEveryXHours" value="1" />
    <add key="CheckForEmailNotificationsEveryXSeconds" value="60" />
    <add key="AttachmentFilesFolder=" value="C\TextPortMMSFiles\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="VirtualNumbersReportFileFolder" value="C:\Junk\TextPortMMSFiles\" />
    <add key="BandwidthComCallbackUrl" value="http://services.textport.com/bandwidthsms.aspx" />
    <add key="MMSPublicBaseUrl" value="https://textport.com/mms/" />
    <add key="BandwidthAccountId" value="3000006" />
    <add key="BandwidthSubAccountId" value="23092" />
    <add key="BandwidthApplicationId" value="ded1d31a-8eb7-4c35-93b1-1b6a9488c1c6" />
    <add key="BandwidthUserId" value="u-imdmn6chhceskespwwwox7a" />
    <add key="BandwidthUserName" value="richard@arionconsulting.com" />
    <add key="BandwidthPassword" value="Zealand!4" />
    <add key="BandwidthApiToken" value="091c02aae3e8dd660fc2f99a328561790da68779e83aabd1" />
    <add key="BandwidthApiSecret" value="f015bb36ce195ed94610f2e1489dc3619e47bb5c8ffc37f1" />
    <add key="NexmoApiKey" value="e73e8a78" />
    <add key="NexmoApiSecret" value="463c3ee5" />
    <add key="EmailTemplatesFolder" value="C:\Code\TextPort2\TextPort\Content\EmailTemplates\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.1" newVersion="4.5.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>