@using TextPortCore.Models
@model BlogRecentPosts
<div class="card my-4">
    <h5 class="card-header">Recent Articles</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    @foreach (BlogPost post in Model.Posts)
                    {
                        <li>
                            <a href="/blog/@post.UrlName">@post.Title</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>