<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="MimeKit" version="2.3.1" targetFramework="net472" />
  <package id="RestSharp" version="106.6.10" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net472" />
  <package id="Talon.NET" version="0.3" targetFramework="net472" />
</packages>