<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TextPortContext" connectionString="Data Source=acsql01.ct9fe8pkdxb5.us-west-2.rds.amazonaws.com;Initial Catalog=TextPort;Persist Security Info=True;User ID=TextPort;Password=Yowzer4" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="SemaphoreFilesPath" value="D:\TextPort\Semaphores\Regular\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BulkSemaphoreFilesPath" value="D:\TextPort\Semaphores\Bulk\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSFilePath" value="D:\TextPort\MMS\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSImagesBaseUrl" value="/mms/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSPublicBaseUrl" value="https://textport.com/mms/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UploadFilesBasePath" value="D:\TextPort\UploadFiles\"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailTemplatesFolder" value="D:\TextPort\EmailTemplates\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APILogFiles" value="D:\TextPort\APILogFiles\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PayPalIPNFiles" value="D:\TextPort\PayPalIPNFiles\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>