<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TextPortContext" connectionString="Data Source=tpsql01.ct9fe8pkdxb5.us-west-2.rds.amazonaws.com;Initial Catalog=TextPort;Persist Security Info=True;User ID=TextPort;Password=Yowzer4" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="SemaphoreFilesPath" value="D:\TextPort\Semaphores\Regular\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BulkSemaphoreFilesPath" value="D:\TextPort\Semaphores\Bulk\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSFilePath" value="D:\TextPort\MMS\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSImagesBaseUrl" value="/mms/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MMSPublicBaseUrl" value="https://textport.com/mms/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UploadFilesBasePath" value="D:\TextPort\UploadFiles\"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailTemplatesFolder" value="D:\TextPort\EmailTemplates\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APILogFiles" value="D:\TextPort\APILogFiles\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PayPalIPNFiles" value="D:\TextPort\PayPalIPNFiles\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BandwidthAccountId" value="3000006"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthSubAccountId" value="33800"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthApplicationId" value="ded1d31a-8eb7-4c35-93b1-1b6a9488c1c6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthUserId" value="u-imdmn6chhceskespwwwox7a"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthUserName" value="richard@arionconsulting.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthPassword" value="Zealand!4"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthApiToken" value="091c02aae3e8dd660fc2f99a328561790da68779e83aabd1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BandwidthApiSecret" value="f015bb36ce195ed94610f2e1489dc3619e47bb5c8ffc37f1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>