@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Show Active Numbers | Returns a List of Your Active Virtual Numbers | SMS API";
    ViewData["Description"] = "Generate a list of virtual numbers assigned to the SMS API";
    ViewData["Keywords"] = "virtual phone numbers, SMS API numbers, temporary SMS numbers";
    ViewData["Url"] = "https://textport.com/api";
}

<script type="text/javascript" src="~/content/highlight.pack.js"></script>
<link rel="stylesheet" type="text/css" href="~/content/highlight/styles/dracula.css">

<script type="text/javascript">
    $(function () {
        $('#menu_samples').addClass("active");
        $('#lang-tab li:first-child a').tab('show')
    });
</script>

<div class="container">
    <div class="row">
        @Html.Partial("_ApiSideMenuBar")
        <div class="col-12 col-md-9">
            <div class="card">
                <div class="card-header">
                    <h1 class="h4">Get Active Numbers on Account<span class="float-right">/v1/numbers/active</span></h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5>Description</h5>
                            <p>
                                Gets a list of numbers that are active on the account.
                            </p>
                            <div class="gpbtn-lg get mb-4">GET</div>
                            <h5>Endpoint</h5>
                            <p class="pb-3">https://api.textport.com/v1/numbers/active</p>
                            <h5>Request</h5>
                            <ul class="nav nav-tabs" id="lang-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="html-tab" data-toggle="tab" href="#html" role="tab" aria-controls="html" aria-selected="true">HTML</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="csharp-tab" data-toggle="tab" href="#csharp" role="tab" aria-controls="csharp" aria-selected="false">C# (RestSharp)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="php-tab" data-toggle="tab" href="#php" role="tab" aria-controls="php" aria-selected="false">PHP</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="curl-tab" data-toggle="tab" href="#curl" role="tab" aria-controls="curl" aria-selected="false">cURL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="jquery-tab" data-toggle="tab" href="#jquery" role="tab" aria-controls="jquery" aria-selected="false">jQuery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="python-tab" data-toggle="tab" href="#python" role="tab" aria-controls="pyton" aria-selected="false">Python</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="ruby-tab" data-toggle="tab" href="#ruby" role="tab" aria-controls="ruby" aria-selected="false">Ruby</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="html" role="tabpanel" aria-labelledby="html-tab">
                                    <pre><code class="html">GET /v1/numbers/active HTTP/1.1
Host: api.textport.com
Authorization: Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn</code></pre>
                                </div>
                                <div class="tab-pane" id="csharp" role="tabpanel" aria-labelledby="csharp-tab">
                                    <pre><code class="csharp">var client = new RestClient("https://api.textport.com/v1/numbers/active");
var request = new RestRequest(Method.GET);
request.AddHeader("Authorization", "Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn");
IRestResponse response = client.Execute(request);</code></pre>
                                </div>
                                <div class="tab-pane" id="php" role="tabpanel" aria-labelledby="php-tab">
                                    <pre><code class="js">
    $request = new HttpRequest();
    $request->setUrl('https://api.textport.com/v1/numbers/active');
    $request->setMethod(HTTP_METH_GET);

    $request->setHeaders(array(
    'Authorization' => 'Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn'
    ));

    try {
    $response = $request->send();

    echo $response->getBody();
    } catch (HttpException $ex) {
    echo $ex;
    }
</code></pre>
                                </div>
                                <div class="tab-pane" id="curl" role="tabpanel" aria-labelledby="curl-tab">
                                    <pre><code class="curl">curl -X GET \
https://api.textport.com/v1/numbers/active \
-H 'Authorization: Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn'</code></pre>
                                </div>
                                <div class="tab-pane" id="jquery" role="tabpanel" aria-labelledby="jquery-tab">
                                    <pre><code class="jquery">var settings = {
    "async": true,
    "crossDomain": true,
    "url": "https://api.textport.com/v1/numbers/active",
    "method": "GET",
    "headers": {
        "Authorization": "Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn"
    }
}

$.ajax(settings).done(function (response) {
    console.log(response);
});</code></pre>
                                </div>
                                <div class="tab-pane" id="python" role="tabpanel" aria-labelledby="pyton-tab">
                                    <pre><code class="python">import http.client

conn = http.client.HTTPConnection("api,textport,com")

payload = ""

headers = {
    'Authorization': "Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn"
}

conn.request("GET", "v1,numbers,active", payload, headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))</code></pre>
                                </div>
                                <div class="tab-pane" id="ruby" role="tabpanel" aria-labelledby="ruby-tab">
                                    <pre><code class="ruby">require 'uri'
require 'net/http'

url = URI("https://api.textport.com/v1/numbers/active")

http = Net::HTTP.new(url.host, url.port)

request = Net::HTTP::Get.new(url)
request["Authorization"] = 'Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn'

response = http.request(request)
puts response.read_body
</code></pre>
                                </div>
                            </div>
                            <ul class="nav nav-tabs" id="response-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="rjson-tab" data-toggle="tab" href="#rjson" role="tab" aria-controls="rjson" aria-selected="true">JSON</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="rxml-tab" data-toggle="tab" href="#rxml" role="tab" aria-controls="rxml" aria-selected="false">XML</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="rjson" role="tabpanel" aria-labelledby="rjson-tab">
                                    <pre><code class="json">[
    {
        "Number": "12135551212",
        "DateAssigned": "2019-06-21T15:43:19.48",
        "ExpirationDate": "2019-09-21T15:43:19",
        "RenewalCount": 2,
        "APIApplicationName": "TextPort API Demo App"
    },
    {
        "Number": "12135551214",
        "DateAssigned": "2018-09-29T06:20:09.21",
        "ExpirationDate": "2020-09-29T06:20:09",
        "RenewalCount": 1,
        "APIApplicationName": "TextPort API Demo App"
    }
]</code></pre>
                                </div>
                                <div class="tab-pane" id="rxml" role="tabpanel" aria-labelledby="xml-tab">
<pre><code class="xml">&lt;ArrayOfNumberDetail&gt;
    &lt;NumberDetail&gt;
        &lt;Number&gt;12135551212&lt;/Number&gt;
        &lt;DateAssigned&gt;2019-06-21T15:43:19.48&lt;/DateAssigned&gt;
        &lt;ExpirationDate&gt;2019-09-21T15:43:19&lt;/ExpirationDate&gt;
        &lt;RenewalCount&gt;2&lt;/RenewalCount&gt;
        &lt;APIApplicationName&gt;TextPort API Demo App&lt;/APIApplicationName&gt;
    &lt;/NumberDetail&gt;
    &lt;NumberDetail&gt;
        &lt;Number&gt;12135551214&lt;/Number&gt;
        &lt;DateAssigned&gt;2018-09-29T06:20:09.21&lt;/DateAssigned&gt;
        &lt;ExpirationDate&gt;2020-09-29T06:20:09&lt;/ExpirationDate&gt;
        &lt;RenewalCount&gt;1&lt;/RenewalCount&gt;
        &lt;APIApplicationName&gt;TextPort API Demo App&lt;/APIApplicationName&gt;
    &lt;/NumberDetail&gt;
&lt;/ArrayOfNumberDetail&gt;</code></pre>
                                </div>
                            </div>
                            <p>Note: The default format for response content is JSON. Adding an HTTP header <i>Accept: application/xml</i> will set the response format to XML.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>hljs.initHighlightingOnLoad()</script>