@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "TextPort API: Assign a new number to your account";
    ViewData["Description"] = "TextPort text messaging API documentation.";
    ViewData["Url"] = "https://textport.com/api";
}

<script type="text/javascript" src="~/content/highlight.pack.js"></script>
<link rel="stylesheet" href="~/content/highlight/styles/dracula.css">

<script type="text/javascript">
    $(function () {
        $('#menu_samples').addClass("active");
        $('#lang-tab li:first-child a').tab('show')
    });
</script>

<div class="container">
    <div class="row">
        @Html.Partial("_ApiSideMenuBar")
        <div class="col-12 col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4>Purchase Number<span class="float-right">/v1/numbers/{number}</span></h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5>Description</h5>
                            <p>
                                Assigns a selected number to the account.
                            </p>
                            <div class="gpbtn-lg mb-4">POST</div>
                            <h5>Endpoint</h5>
                            <p class="pb-3">https://api.textport.com/v1/numbers/{number}</p>
                            <h5>Sample Request Payload</h5>
                            <ul class="nav nav-tabs" id="payload-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="json-tab" data-toggle="tab" href="#json" role="tab" aria-controls="json" aria-selected="true">JSON</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="xml-tab" data-toggle="tab" href="#xml" role="tab" aria-controls="xml" aria-selected="false">XML</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="json" role="tabpanel" aria-labelledby="json-tab">
                                    <pre><code class="json">{
    "Number": "12025551212",
    "LeasePeriod": "1"
}</code></pre>
                                </div>
                                <div class="tab-pane" id="xml" role="tabpanel" aria-labelledby="xml-tab">
                                    <pre><code class="xml">&lt;NumberRequest&gt;
    &lt;Number&gt;12025551212&lt;/Number&gt;
    &lt;LeasePeriod&gt;1&lt;/LeasePeriod&gt;
&lt;/NumberRequest&gt;</code></pre>
                                </div>
                            </div>
                            <h5>Code Examples (using JSON payload)</h5>
                            <ul class="nav nav-tabs" id="lang-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="html-tab" data-toggle="tab" href="#html" role="tab" aria-controls="html" aria-selected="true">HTML</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="csharp-tab" data-toggle="tab" href="#csharp" role="tab" aria-controls="csharp" aria-selected="false">C# (RestSharp)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="php-tab" data-toggle="tab" href="#php" role="tab" aria-controls="php" aria-selected="false">PHP</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="curl-tab" data-toggle="tab" href="#curl" role="tab" aria-controls="curl" aria-selected="false">cURL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="jquery-tab" data-toggle="tab" href="#jquery" role="tab" aria-controls="jquery" aria-selected="false">jQuery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="python-tab" data-toggle="tab" href="#python" role="tab" aria-controls="python" aria-selected="false">Python</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="ruby-tab" data-toggle="tab" href="#ruby" role="tab" aria-controls="ruby" aria-selected="false">Ruby</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="html" role="tabpanel" aria-labelledby="html-tab">
                                    <pre><code class="html">POST /v1/numbers HTTP/1.1
Host: https://api.textport.com
Content-Type: application/json
Authorization: Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn
{
"Number": "12025551212",
"LeasePeriod": "1"
}</code></pre>
                                </div>
                                <div class="tab-pane" id="csharp" role="tabpanel" aria-labelledby="csharp-tab">
                                    <pre><code class="csharp">var client = new RestClient("https://api.textport.com/v1/numbers");
var request = new RestRequest(Method.POST);

request.AddHeader("Authorization", "Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn");
request.AddHeader("Content-Type", "application/json");
request.AddParameter("undefined", "{\n\t\"Number\": \"12025551212\",\n\t\"LeasePeriod\": \"1\"\n}", ParameterType.RequestBody);

IRestResponse response = client.Execute(request);</code></pre>
                                </div>
                                <div class="tab-pane" id="php" role="tabpanel" aria-labelledby="php-tab">
                                    <pre><code class="js">$request = new HttpRequest();
$request->setUrl('https://api.textport.com/v1/numbers');
$request->setMethod(HTTP_METH_POST);

$request->setHeaders(array(
    'Authorization' => 'Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn',
    'Content-Type' => 'application/json'
));

$request->setBody('{
    "Number": "12025551212",
    "LeasePeriod": "1"
}');

try {
    $response = $request->send();
    echo $response->getBody();
} catch (HttpException $ex) {
    echo $ex;
}</code></pre>
                                </div>
                                <div class="tab-pane" id="curl" role="tabpanel" aria-labelledby="curl-tab">
                                    <pre><code class="curl">curl -X POST \
    https://api.textport.com/v1/numbers \
    -H 'Authorization: Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn' \
    -H 'Content-Type: application/json' \
    -d '{
    "Number": "12025551212",
    "LeasePeriod": "1"
    }'
</code></pre>
                                </div>
                                <div class="tab-pane" id="jquery" role="tabpanel" aria-labelledby="jquery-tab">
                                    <pre><code class="jquery">var settings = {
    "async": true,
    "crossDomain": true,
    "url": "https://api.textport.com/v1/numbers",
    "method": "POST",
    "headers": {
        "Content-Type": "application/json",
        "Authorization": "Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn"
    },
    "processData": false,
    "data": "{ \"Number\": \"12025551212\", \"LeasePeriod\": \"1\" }"
}

$.ajax(settings).done(function (response) {
    console.log(response);
});</code></pre>
                                </div>
                                <div class="tab-pane" id="python" role="tabpanel" aria-labelledby="python-tab">
                                    <pre><code class="python">import http.client

conn = http.client.HTTPConnection("https://api.textport.com/")

payload = "{ \"Number\": \"12025551212\", \"LeasePeriod\": \"1\" }"

headers = {
    'Content-Type': "application/json",
    'Authorization': "Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn"
}

conn.request("POST", "v1,numbers", payload, headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))</code></pre>
                                </div>
                                <div class="tab-pane" id="ruby" role="tabpanel" aria-labelledby="ruby-tab">
                                    <pre><code class="ruby">require 'uri'
require 'net/http'

url = URI("https://api.textport.com/v1/numbers")

http = Net::HTTP.new(url.host, url.port)

request = Net::HTTP::Post.new(url)
request["Content-Type"] = 'application/json'
request["Authorization"] = 'Basic MS13OFBHczdPY09KOkVnbkJDZnh5N2txMXdHVkpycFJn'
request.body = "{ \"Number\": \"12025551212\", \"LeasePeriod\": \"1\" }"

response = http.request(request)
puts response.read_body</code></pre>
                                </div>
                            </div>
                            <h5>Response</h5>
                            <ul class="nav nav-tabs" id="response-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="rjson-tab" data-toggle="tab" href="#rjson" role="tab" aria-controls="rjson" aria-selected="true">JSON</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="rxml-tab" data-toggle="tab" href="#rxml" role="tab" aria-controls="rxml" aria-selected="false">XML</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="rjson" role="tabpanel" aria-labelledby="rjson-tab">
                                    <pre><code class="json">{
    "Number": "12025551212",
    "Success": true,
    "ExpirationDate": "2019-08-20T01:04:57.9741555Z",
    "ProcessingMessage": "Number 12025551212 was successfully purchased for a 1 month period."
}</code></pre>
                                </div>
                                <div class="tab-pane" id="rxml" role="tabpanel" aria-labelledby="xml-tab">
                                    <pre><code class="xml">&lt;NumberRequestResult xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;
    &lt;Number&gt;12025551212&lt;/Number&gt;
    &lt;Success&gt;true&lt;/Success&gt;
    &lt;ExpirationDate&gt;2019-08-20T00:57:11.5175842Z&lt;/ExpirationDate&gt;
    &lt;ProcessingMessage&gt;Number 12025551212 was successfully purchased for a 1 month period.&lt;/ProcessingMessage&gt;
&lt;/NumberRequestResult&gt;</code></pre>
                                </div>
                            </div>
                            <p>Note: The default format for response content is JSON. Adding an HTTP header <i>Accept: application/xml</i> will set the response format to XML.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>hljs.initHighlightingOnLoad()</script>
