
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4">Effective SMS marketing</h1>

        <!-- Author -->
        <p class="lead">by TextPort</p>
        <hr>
        <!-- Date/Time -->
        <p>Posted: December 12th, 2019</p>
        <hr>
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="~/content/images/blog/sms-marketing.jpg" alt="Effective SMS Marketing">
        <hr>
        <p>
            In 2019 businesses have more marketing channel choices than ever before. It's important to select the right form of communication for your particular maketing need.
            Traditional methods like bulk mail, printed material and TV advertising are costly, while email is prone to issues with filtering and spam blocking.
        </p>
        <p>
            SMS or online texting has emerged as a predominant marketing platform due to its near-instant delivery and high read rates.
            It's now commonly recognized that it takes 90 seconds for the average person to respond to a text message, compared 90 minutes to respond to an email.
            Furthermore, the response rte to text messages is approximately 45%, compared to just 8% for email. The fact that more than 90% of consumers have their
            phone within reach 24/7 makes text-based marketing an ideal choice.
        </p>

        <p>
            Combining SMS marketing with email or web sites can also be a smart strategy. A short text message can contain a hyperlink to a website, or notify someone that
            an email with more information and content is on its way. Consumers are more-likely to open such and email, or visit a web site when introduced via text message.
        </p>

        <p class="lead">
            SMS continues to grow. It's estimated that about 5.2 billion people use a mobile phone of some form in 2019. Furthermore, people are spending more time on their
            phones, which directly translates to more opportunities to read marketing messages.
        </p>

        <p>
            As more companies turn to SMS as a preferred form of marketing, it's important to do it right. Message volume, content and presentation are critical.
            People can be easily irritated by an overbundance of texts from the same source, abrasive messages containing false or misleading content, or annnoyances like
            all-caps or mis-spellings. Simply blasting mass text messages to the same numbers multiple times a day is a poor strategy, which will likely result in a lot of
            STOP responses. So, it's important consider messsage volume and the tone and quality of your content.
        </p>
        <ul>
            <li>Bulk messaging service. Mobile numbers and messages can be uploaded from an Excel worksheet or CSV file, then sent in a single operation to multile mobile devices. You have the option of sending a personalized message to each number, or simply send the same message to all numbers.</li>
            <li>Email-to-SMS gateway. For anyone familiar with email-based marketing, email-to-SMS is the same concept, but instead of sending an email to an email address, your email is sent to a mobile number@textport.com. The email message is converted to a text message and delivered to the mobile device.</li>
            <li>SMS API. For businesses with access to software development resources and SMS API (Application Programming Interface) is the best way to integrate a text messaging platform like TextPort directly into your own software or CRM platform. More bout TextPort's SMS API can be found here.</li>
        </ul>
        <p>In summary, SMS has quickly become established as a highly-effective, economical marketing tool. Mobile use has reached an all-time high, and continues to grow. SMS marketing platforms like TextPort have become popular tools for sendign and managing SMS marketing messages. SMS messaging generates high read and click-through rates which make it preferable over other channels of business communication.</p>

        <p>To discover more about how you could benefit from the effectiveness of SMS marketing, visit TextPort.com for more information SMS marketing delivery options.</p>

        <hr>

        @*<div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>*@

        <!-- Single Comment -->
        @*<div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>*@

        <!-- Comment with nested comments -->
        @*<div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                </div>
            </div>*@
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        @*<div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>*@

        <div class="card my-4">
            <h5 class="card-header">Articles</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="~/blog/effective-sms-marketing">Effective SMS Marketing</a>
                            </li>
                        </ul>
                    </div>
                    @*<div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
        <!-- Side Widget -->
        @*<div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    Content
                </div>
            </div>*@
    </div>
</div>
