@{
    ViewData["Title"] = "Bulk Texting Service | TextPort";
    ViewData["Description"] = "Send and receive bulk text messages. Free trial.";
    ViewData["Keywords"] = "bulk texting, send text messages in bulk, mass text messaging online";
    ViewData["Url"] = "https://textport.com/bulk-texting";
}

<div class="row align-items-center main-banner">
    <div class="col-lg-5">
        <img class="img-fluid mb-4 mb-lg-0 mx-auto d-block" src="~/Content/images/bulk-texting-1.png" alt="Bulk Texting">
    </div>
    <div class="col-lg-7 text-center text-lg-left">
        <h1 class="font-weight-light">Bulk Texting</h1>
        <h2>
            Send multiple messages at once to your customers or contacts. Ideal for marketing campaigns, promotions, reminders, notifications, or alerts.
        </h2>
    </div>
</div>
<div class="card text-white bg-secondary my-5 py-4 text-center sub-banner">
    <div class="card-body">
        <h2>Send Mass Texts in One Operation</h2>
        <h3 class="text-white m-0">
            Upload numbers and messages from Excel file, CSV file, or manual entry, then send all in a single operation. Send 2, 200, 2,000, or more messages at once.
        </h3>
    </div>
</div>
<div class="row landing-cards">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Mass Text Broadcasting</h2>
                <h3 class="card-text">Deliver marketing updates, advertising, notifications, or reminders to your customers, staff, or group members. Replies can be viewed on TextPort's web interface or forwarded to your mobile device or email.</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Easy Upload Interface</h2>
                <h3 class="card-text">Upload your list of numbers via an Excel or CSV file. Messages can be unique, or simply apply the same message for all recipients. Send tens, hundreds, or even thousands of texts in one simple upload.</h3>
                <a href="/bulk/upload-guidelines" class="btn btn-primary btn-sm">File Formats and Guidelines</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">More Effective Than Email</h2>
                <h3 class="card-text">An average text message is read within 90 seconds. An average email is read within 90 minutes. Text messages also have a 10x better open rate than emails.</h3>
            </div>
        </div>
    </div>
</div>
<div class="background-lt-gray">
    <div class="px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h2>Three Simple Steps</h2>
        <h3 class="lead">
            Send multiple text messages from your computer in three simple steps.
        </h3>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title large-num text-primary">1</h2>
                    <h3 class="lead">
                        Upload a list of numbers from either an Excel worksheet or CSV/text file.
                    </h3>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title large-num text-primary">2</h2>
                    <h3 class="lead">
                        Include a different message with each number uploaded, or opt to send the same message to all recipients.
                    </h3>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title large-num text-primary">3</h2>
                    <h3 class="lead">
                        Click Send and your messages are on their way. Within seconds your messages are delivered to your contacts.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>