<div class="row align-items-center my-5 main-banner">
    <div class="col-lg-5">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/Content/images/email-to-sms-2.png" alt="Email to SMS Gateway">
    </div>
    <div class="col-lg-7">
        <h1 class="font-weight-light">Email to SMS Gateway</h1>
        <h2>
            Send an email to TextPort and we'll convert it into a text message. No need to install software, hire developers, or download anything.
            Works with all email clients and can be up and running in minutes.
        </h2>
    </div>
</div>
<div class="card text-white bg-secondary my-5 py-4 text-center sub-banner">
    <div class="card-body">
        <h2>What is Email to SMS?</h2>
        <h3 class="text-white m-0">
            TextPort's email-to-SMS gateway allows you to send an email to textport.com, then have the body of your email sent as a text.
            Register your email address with TextPort, then send an email from your registered address to mobile-number@textport.com. We'll
            take your email and deliver it as an SMS message.
        </h3>
    </div>
</div>
<div class="row landing-cards">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">Send texts via email</h1>
                <h2 class="card-text">Send texts to customers and contacts simply by sending an email. Register as many email addresses as you need to allow multiple employees to send texts from email</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">Replies routed back to email or SMS</h1>
                <h2 class="card-text">Replies appear in your TextPort messaging page. Like regular inbound texts, your messages can be forwarded to email, SMS or both.</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">Multiple Recipients</h1>
                <h2 class="card-text">Add more recipients to the CC field of your email to text multiple numbers at once.</h2>
            </div>
        </div>
    </div>
</div>
<div class="background-lt-gray">
    <div class="px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h1>Text from your computer</h1>
        <h2 class="lead">
            Email to SMS - Send text messages from your computer in three simple steps.
        </h2>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title large-num text-primary">1</h1>
                    <h2 class="lead">
                        Register your email address with Textport. If you have multiple employees or team members, they can register also.
                    </h2>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title large-num text-primary">2</h1>
                    <h2 class="lead">
                        From any email client, send a message to number@@textport.com. ("number" is the mobile number that you're sending the text to).
                        Add more numbers to the CC field if needed. Write your message, then send. Your email is delivered as a text message within seconds.
                    </h2>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title large-num text-primary">3</h1>
                    <h2 class="lead">
                        Any replies will appear in your TextPort messages page, and can also be forwarded to your email address or sent as a text to your mobile number.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
</footer>