@{
    ViewData["Title"] = "TextPort: Online texting for business and individuals. SMS API";
    ViewData["Description"] = "Online texting service for businesses and individuals. Send and receive texts. Dedicated virtual numbers. SMS API. Bulk SMS. Affordable SMS pricing. Free trial.";
    ViewData["Keywords"] = "online texting service, send and receive sms online, bulk texting, virtual mobile number, business sms service, sms api, email to sms gateway";
    ViewData["Url"] = "https://textport.com";
}

<script>
    $(function () {
        $("[data-toggle=popover]").popover({
            html: true,
            content: function () {
                return $('#popover-content').html();
            }
        });

        $('html').on('click', function (e) {
            if (typeof $(e.target).data('original-title') == 'undefined') {
                $('[data-original-title]').popover('hide');
            }
        });
    });
</script>

<div class="row align-items-center my-5 main-banner">
    <div class="col-lg-4">
        <img class="rounded rounded mx-auto d-block mb-4 mb-lg-0" src="~/Content/images/textport-logo-256.png" alt="TextPort - Text Messaging Portal">
    </div>
    <div class="col-lg-7">
        <h1 class="font-weight-normal">Text Messaging Portal</h1>
        <h2>A text messaging service for business, groups and individuals. Send and receive texts, promotional messages, announcements and notifications.</h2>
        <a href="/account/signup" class="btn btn-lg btn-success center-block" id="sup_link">Sign Up</a>
        <span class="ml-4 mr-3">&nbsp;</span>
        <a href="/trial" class="btn btn-lg btn-warning center-block">Free Trial</a>
    </div>
</div>
<div class="card text-white bg-secondary my-5 py-4 text-center sub-banner">
    <div class="card-body">
        <h2>Extend your business reach with TextPort texting solutions</h2>
        <h3 class="text-white m-0">
            Send promotional messages, notifications, alerts and marketing announcements. Ideal for businesses, marketers, or groups.
            Use our Bulk Texting, Email-to-SMS or REST API to send mass text messages. TextPort has a cost-effective solution for your SMS needs.
        </h3>
    </div>
</div>
<div class="row landing-cards">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">Online Text Messaging</h1>
                <h2 class="card-text">Send, receive and manage your text messages via TextPort's simple-to-use web interface. Choose your own number and start sending texts in minutes. Free trial!</h2>
            </div>
            <div class="card-footer">
                <a href="#interface" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">Bulk Texting</h1>
                <h2 class="card-text">Broadcast to your entire customer base at once. Upload lists of numbers and messages and send multiple texts in a single operation.</h2>
            </div>
            <div class="card-footer">
                <a href="/bulk-texting" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">SMS API</h1>
                <h2 class="card-text">Easily integrate text messaging into your business or mobile applications with TextPort's REST API.</h2>
            </div>
            <div class="card-footer">
                <a href="/api" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
</div>
<div class="row landing-cards">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">Email to SMS Gateway</h1>
                <h2 class="card-text">Turn an email into text messages using our Email-to-SMS gateway. </h2>
            </div>
            <div class="card-footer">
                <a href="email-to-sms-gateway" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">Virtual Mobile Numbers</h1>
                <h2 class="card-text">Choose your own dedicated texting number. Send texts without exposing your own personal mobile number. Assign multiple numbers and create a business presence in multiple area codes.</h2>
            </div>
            <div class="card-footer">
                <a href="/virtual-mobile-numbers" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="card-title">Affordable</h1>
                <h2 class="card-text">Send messages for as little as 1.5 cents (compare to 4 cents for other services). Lease virtual numbers for $6 per month. Purchase as little as $1 in credit, then pay-as-you-go. Your credit will never expire.</h2>
            </div>
            <div class="card-footer">
                <a href="#pricing" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
</div>
<div class="background-lt-gray">
    <div class="px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h1>The Advantage of Text Messaging</h1>
        <h2 class="lead">
            As the use of SMS marketing continues to grow, there are still businesses that do not engage their customers using SMS.
            Here are some compelling statistics that endorse the power of SMS marketing.
        </h2>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title large-num text-primary">91%</h1>
                    <p class="lead">
                        &quot;91% of all U.S. citizens have their mobile device within reach 24/7&quot;
                    </p>
                </div>
                <p class="lead subscript">Source: Morgan Stanley</p>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title large-num text-primary">90 sec</h1>
                    <p class="lead">
                        &quot;It takes 90 seconds for the average person to respond to a text message. It takes 90 minutes for the average person to respond to an email.&quot;
                    </p>
                </div>
                <p class="lead subscript">Source: CITA.org</p>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title large-num text-primary">76%</h1>
                    <p class="lead">
                        &quot;76% report that they are more likely to read a message sooner if it's a SMS/text message than if it is an email.&quot;
                    </p>
                </div>
                <p class="lead subscript">Source: SAP</p>
            </div>
        </div>
    </div>
</div>
<div class="pt-3"></div>
<a name="interface"></a>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1>TextPort's SMS Web Interface</h1>
    <h2 class="lead">
        Send, receive and manage your messages and virtual numbers using our web interface with familiar phone-like navigation. Get real-time message notifications.
        Optionally, have inbound messages forwarded to email or your mobile device.
    </h2>
</div>
<section class="feature-block">
    <div class="item">
        <div class="row">
            <div class="col-12 text-center">
                <img src="~/content/images/messages_page_100.png" alt="TextPort Sample Messages Page" />
            </div>
        </div>
    </div>
</section>
<div class="pt-5"></div>
<div class="background-lt-gray">
    <a name="pricing"></a>
    <div class="px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h1>Pricing</h1>
        <h2 class="lead">
            Pay as you go. Only pay for what you need. No minimums. No recurring charges. No contracts.
        </h2>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-3 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title text-primary">$0.015</h1>
                    <p class="lead">
                        Outbound Text Message
                        <sup>
                            <button class="btn" style="padding: 2px" data-toggle="popover" title="Cost Per Message Segment" data-content="" data-html="true">
                                <i class="fa fa-info-circle text-primary"></i>
                            </button>
                        </sup>
                    </p>
                </div>
            </div>
            <div class="card mb-3 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title text-primary">FREE</h1>
                    <p class="lead">
                        Inbound Text and MMS Message
                    </p>
                </div>
            </div>
            <div class="card mb-3 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title text-primary">$0.025</h1>
                    <p class="lead">
                        Outbound MMS (Picture) Message
                    </p>
                </div>
            </div>
            <div class="card mb-3 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title text-primary">$6.00</h1>
                    <p class="lead">
                        Virtual Number 1 Month Lease
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popover-content" class="d-none">
    <ul>
        <li>SMS Messages are comprised of segments.</li>
        <li>Each segment can contain up to 160 characters.</li>
        <li>A message with 160 characters or less creates one message segment.</li>
        <li>Between 161 and 320 characters = 2 message segments.
        <li>321 to 480 characters = 3 message segments, etc.</li>
    </ul>
</div>
