@{
    ViewData["Title"] = "TextPort - Home";
}

<div class="jumbotron text-center">
    <img class="d-flex d-xl-flex align-items-center align-content-center m-auto align-items-xl-center" src="/images/tp_logo_240x54.png?h=06d3a6bd33a5b974da6ee4b4c5b06da3" alt="TextPort Logo" width="300">
    <h1>Text Messaging Portal</h1>
    <p class="lead">Send and receive text messages using dedicated virtual numbers. Protect your privacy, send business texts, send bulk texts or receive confirmation codes.</p>
    <p><a class="btn btn-lg btn-success center-block" href="#" role="button">Sign up</a></p>
</div>

<div class="features-boxed">
    <div class="container">
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-comments-o icon"></i>
                    <h3 class="name">Full-featured</h3>
                    <p class="description">Select your own number and send and receive messages, just like using a mobile device. Simple user interface.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-mobile icon"></i>
                    <h3 class="name">Mobile Alternative</h3>
                    <p class="description">An alternative to a regular mobile device. Send and receive texts via your own dedicated virtual number.</p>
                    <p class="description"></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-send icon"></i>
                    <h3 class="name">Message Forwarding</h3>
                    <p class="description">Optionally forward inbound messages from your TextPort number to your personal mobile device.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-eye-slash icon"></i>
                    <h3 class="name">Privacy</h3>
                    <p class="description">Dedicated TextPort virtual numbers allow you to exchange text messages without revealing your personal mobile number.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-rocket icon"></i>
                    <h3 class="name">Instant Delivery</h3>
                    <p class="description">Real time delivery - just like a standard mobile device.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-dollar icon"></i>
                    <h3 class="name">Affordable</h3>
                    <p class="description">Send messages for 2 cents. Free inbound messages. Lease virtual numbers for as little as $6 per month.</p>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>
