@{
    ViewData["Title"] = "Bulk & Mass Text Messaging. The Easiest Way to Send Bulk Texts‎ | TextPort";
    ViewData["Description"] = "Bulk and mass text messaging service for business marketing and advertising.";
    ViewData["Keywords"] = "sms marketing, bulk texting for business, mass text messaging, mass text messaging online";
    ViewData["Url"] = "https://textport.com/bulk-texting";
}
<div class="row align-items-center main-banner">
    <div class="col-lg-5">
        <img class="img-fluid mb-4 mb-lg-0 mx-auto d-block" src="~/Content/images/bulk-texting-1.png" alt="Bulk Texting">
    </div>
    <div class="col-lg-7 text-center text-lg-left">
        <h1 class="font-weight-light">Bulk Texting</h1>
        <h2>
            Send bulk text messages to your customers or contacts. Bulk SMS is ideal for marketing campaigns, promotions, reminders, notifications, or alerts.
        </h2>
    </div>
</div>
<div class="card text-white bg-secondary my-5 py-4 text-center sub-banner">
    <div class="card-body">
        <h2>The Easiest Way to Send Bulk Texts</h2>
        <h3 class="text-white m-0">
            Mass text messaging allows you to send SMS messages to large groups of people at one time. Simply enter or upload a list of numbers, enter your message and click send.
        </h3>
    </div>
</div>
<div class="row landing-cards">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Mass Text Marketing</h2>
                <h3 class="card-text">Send marketing messages, alerts, notifications, or reminders to your customers, staff, or group members. Replies can be viewed on TextPort's web interface or forwarded to your mobile device or email.</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Easy to use Interface</h2>
                <h3 class="card-text">Enter or upload a list of recipient numbers. Type your message, then click Send. Your messages are on their way.</h3>
                @*<a href="/bulk/upload-guidelines" class="btn btn-primary btn-sm">File Formats and Guidelines</a>*@
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">More Effective Than Email</h2>
                <h3 class="card-text">An average text message is read within 90 seconds. An average email is read within 90 minutes. Text messages also have a 10x better open rate than emails.</h3>
            </div>
        </div>
    </div>
</div>
<div class="background-lt-gray">
    <div class="px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h2>Three Simple Steps</h2>
        <h3 class="lead">
            Send bulk text messages from your computer in three simple steps.
        </h3>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title large-num text-primary">1</h2>
                    <h3 class="lead">
                        Enter a list of mobile numbers, or choose recipients from an existing contacts list. Numbers can be copied/pasted or uploaded.
                    </h3>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title large-num text-primary">2</h2>
                    <h3 class="lead">
                        Type the message that you wish to be sent.
                    </h3>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title large-num text-primary">3</h2>
                    <h3 class="lead">
                        Click Send and your messages are on their way. Within seconds your messages are delivered to your contacts.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-3 py-3 pt-md-3 pb-md-4 mx-auto text-center">
    <h2>TextPort's Bulk SMS Interface</h2>
    <h3 class="lead">
        Send bulk SMS quickly and easily using a simple interface. Enter or copy your list of numbers, type your message and click send. It's that easy.'
    </h3>
</div>
<div class="row">
    <section class="feature-block mx-auto" style="width: 85%">
        <div class="item">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="~/content/images/bulk-texting-screenshot.png" alt="TextPort bulk texting screen" />
                </div>
            </div>
        </div>
    </section>
</div>
<div class="pt-5"></div>