@{
    ViewData["Title"] = "Email-to-SMS Gateway | TextPort";
    ViewData["Description"] = "Send and receive text messages via email. Dedicated numbers. Easy setup, with no programming required. Free trial.";
    ViewData["Keywords"] = "send and receive texts from email, email to sms gateway, email to text service";
    ViewData["Url"] = "https://textport.com/email-to-sms-gateway";
}

<div class="row align-items-center main-banner">
    <div class="col-lg-5">
        <img class="img-fluid rounded mx-auto d-block mb-lg-0" src="~/Content/images/email-to-sms-2.png" alt="Email to SMS Gateway">
    </div>
    <div class="col-lg-7 text-center text-lg-left">
        <h1 class="font-weight-light">Email to SMS Gateway</h1>
        <h2>
            Send an email to TextPort and we'll convert it into a text message. No need to install software, hire developers, or download anything.
            Works with all email clients and can be up and running in minutes.
        </h2>
    </div>
</div>
<div class="card text-white bg-secondary my-5 py-4 text-center sub-banner">
    <div class="card-body">
        <h2>What is Email to SMS?</h2>
        <h3 class="text-white m-0">
            TextPort's email-to-SMS gateway allows you to send an email to textport.com, where it is converted to a text message.
            Simply register your email address with TextPort, then send an email to <i>{mobile_number}@@textport.com</i>. We'll
            take your email and deliver it as a text message to the number specified in {mobile_number}.
        </h3>
    </div>
</div>
<div class="row landing-cards">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Send texts via email</h2>
                <h3 class="card-text">Send texts to customers and contacts simply by sending an email. Register as many email addresses as you need to allow multiple employees to send texts from email. </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Replies routed back to email or SMS</h2>
                <h3 class="card-text">Replies appear in your TextPort messaging page. Like regular inbound texts, your messages can be forwarded to email, SMS or both.</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Multiple Recipients</h2>
                <h3 class="card-text">Add more recipients to the To or Cc fields of your email to text multiple numbers at once.</h3>
            </div>
        </div>
    </div>
</div>
<div class="background-lt-gray">
    <div class="px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h2>Send Texts from your computer</h2>
        <h3 class="lead">
            Email to SMS - Send text messages from your computer in three simple steps.
        </h3>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title large-num text-primary">1</h2>
                    <h3 class="lead">
                        Register your email address with Textport. If you have multiple employees or team members, they can register also.
                    </h3>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title large-num text-primary">2</h2>
                    <h3 class="lead">
                        From any email client, send a message to {number}@@textport.com. ({number} is the mobile number that you're sending the text to).
                        Add more numbers to the To or Cc fields if needed. Write your message, then send. Your email is converted to a text message and delivered within seconds.
                    </h3>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title large-num text-primary">3</h2>
                    <h3 class="lead">
                        Any replies will appear in your TextPort messages page, and can also be forwarded to your email address, or sent as a text to your mobile number.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>