@{
    ViewData["Title"] = "Virtual Mobile Numbers for Online Texting and Bulk SMS | TextPort";
    ViewData["Description"] = "Virtual mobile numbers for texting, bulk sms and SMS API. Choose your own number. Free trial.";
    ViewData["Keywords"] = "virtual mobile number, virtual text number, private texting numbers, burner phone number, send and receive texts online";
    ViewData["Url"] = "https://textport.com/virtual-mobile-numbers";
}
<script type="text/javascript" src="/scripts/textport/getnumbers.js"></script>

<script type="text/javascript">
    function getNumber(number) {
        location.href = "/account/signup?vn=1" + number + '&p=M1'
    }
</script>

<div class="row align-items-center main-banner">
    <div class="col-lg-5">
        <img class="img-fluid rounded mx-auto d-block mb-4 mb-lg-0" src="~/Content/images/virtual-mobile-number.png" alt="Virtual Mobile Numbers" height="300">
    </div>
    <div class="col-lg-7 text-center text-lg-left">
        <h1 class="font-weight-light">Dedicated Virtual Mobile Numbers</h1>
        <h2>
            Send and receive business texts without having to use your own personal device and number. Virtual numbers create a professional image
            while keeping your personal number private. Assign multiple virtual numbers to give your business a local presence in multiple geographic locations.
        </h2>
    </div>
</div>
<div class="card text-white bg-secondary my-5 py-4 text-center sub-banner">
    <div class="card-body">
        <h2>What is a virtual number?</h2>
        <h3 class="text-white m-0">
            Virtual numbers are phone numbers that can send and receive text messages, but are not assigned to a physical
            mobile device or individual mobile account. Virtual numbers are ideal for businesses who have a requirement to exchange text messages, but
            don't want to use a personal mobile device, or purchase a device solely for the purpose of sending business texts.
        </h3>
    </div>
</div>
<div class="row landing-cards">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Promote Your Business with SMS</h2>
                <h3 class="card-text">
                    Send promotional texts and notifications from your dedicated virtual number.
                    Replies can be forwarded to your mobile device, email address, or viewed in the TextPort web site.
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body pb-0">
                <h2 class="card-title">Disposable Numbers</h2>
                <h3 class="card-text">TextPort provides temporary, disposable phone numbers for text messaging. Ideal for situations where you need to give out a number, but not reveal your own personal number.</h3>
            </div>
            <div class="card-body pt-2">
                <a href="/temporary-numbers" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Dedicated Employee Numbers</h2>
                <h3 class="card-text">Do you have multiple employees or groups within your organization? Assign each entity their own unique number. Replies can be routed back to each employee or group.</h3>
            </div>
        </div>
    </div>
</div>
<div class="row landing-cards">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Protect your Identity</h2>
                <h3 class="card-text">
                    Virtual numbers help maintain privacy and protect your identity. Send texts anonymously without exposing your mobile number.
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">National Coverage</h2>
                <h3 class="card-text">Choose from thousands of numbers across every US area code. Check number availability using the number lookup tool below.</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Affordable</h2>
                <h3 class="card-text">Lease numbers for $6.00 per month. All number and messaging pricing can be viewed <a href="~/#pricing">here</a></h3>
            </div>
        </div>
    </div>
</div>
<div class="background-lt-gray">
    <div class="px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h2>Virtual Number Lookup</h2>
        <h3 class="lead">
            Check for available numbers using our virtual number lookup tool.
        </h3>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-inline justify-content-center">
                <div class="form-group">
                    <input type="text" id="area-code" class="form-control form-control-lg ac-input" , placeholder="Area Code" />
                </div>
            </div>
        </div>
    </div>
    <div class="ml-3 pl-1">
        @Html.Partial("_NumberPicker")
    </div>
    <br />
</div>
<br />