@model TextPortCore.Models.MessagingContainer
<div class="chat-content">
    <!-- chat header -->
    <div class="chat-header">
        <div class="chat-header-user">
            @*<figure class="avatar">
                    <img src="https://via.placeholder.com/60x60.png" class="rounded-circle" alt="image">
                </figure>*@
            <div>
                <h5 class="mt-1 mb-1">Messages to (000) 555-1212</h5>
                @*<small class="text-success">Typing....</small>*@
            </div>
        </div>
        <div class="chat-header-action">
            <ul class="list-inline mb-0 mt-2">
                @*<li class="list-inline-item not-mobile"><a href="#" class="bttn-box-round"><i class="ti-microphone"></i></a></li>
                    <li class="list-inline-item not-mobile"><a href="#" class="bttn-box-round" id="videocall-bttn"><i class="ti-video-camera"></i></a></li>*@
                <li class="list-inline-item d-xl-none d-lg-none"><a href="#" class="bttn-box-round back-chat-div"><i class="ti-arrow-left"></i></a></li>
                @*<li class="list-inline-item">
                        <a href="#" class="bttn-box-round" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item profile-detail-bttn">Profile</a>
                            <a href="#" class="dropdown-item">Add to archived</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item text-danger">Block</a>
                        </div>
                    </li>*@
            </ul>
        </div>
    </div>
    <!-- chat header -->
    <!-- chat body -->
    <div class="chat-body" style="overflow: hidden; outline: none; height: 800px">
        <div id="msg_list" class="messages-content">
            @Html.Partial("_MessageListNew", Model)
        </div>
    </div>
    <!-- chat body -->
    <!-- chat footer -->
    <div class="chat-footer" id="msg_area">
        <div class="row">
            <div class="col-11">
                <textarea id="message_text"></textarea>
            </div>
            <div class="col-1">
                <button><img src="/content/images/xchat/send.png" alt="send"></button>
            </div>
        </div>

        @*<br />
            <div class="col-12 col-md-2 border-right">
                <div class="container">
                    <div class="row">

                        <div class="dz-wrap col-4 col-md-6">
                            <form action="/messages/UploadFile/" class="dropzone" id="mmsDropzone">
                                <span class="dz-message"><i class="fa fa-image mms-icon msg_function_icon"></i></span>
                            </form>
                        </div>
                        @if (Model.VirtualNumberCount > 0)
                        {
                            <div class="col-4 col-md-12">
                                <button id="btn_send_message" class="btn btn-primary center-block">Send</button>
                            </div>
                        }
                    </div>
                </div>
            </div>*@


        <!-- chat footer -->
    </div>
</div>
