@using TextPortCore.Models

<ul class="chat-list">
    @if (Model.Count == 0)
    {
        <li class="chat-list-item">
            <figure class="avatar user-online">
                <img src="https://via.placeholder.com/100x100.png" alt="image">
            </figure>
            <div class="list-body">
                <div class="chat-bttn">
                    <h3 class="mb-0 mt-2">No Chats</h3>
                    <p>No Chats for this Number</p>
                </div>
            </div>
        </li>
    }
    else
    {
        foreach (Recent recent in Model)
        {
            <li id="recent_@recent.Number" class="chl chat-list-item chat_list@(recent.IsActiveMessage ? " active_number" : "")">
                <figure class="avatar user-online">
                    <img src="https://via.placeholder.com/100x100.png" alt="image">
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-0 mt-2">@recent.NumberDisplayFormat</h3>
                        <p>@recent.Message</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <div class="message-count bg-primary">3</div>
                        <small class="text-primary">@string.Format("{0:MMMM dd, yy | hh:mm tt}", recent.TimeStamp)</small>
                    </div>
                </div>
            </li>
        }
    }
</ul>
