@model TextPortCore.Models.IPData.IPDataResult
@{
    ViewData["Title"] = "IP Address Location Lookup | TextPort";
    ViewData["Description"] = "IP Address Geolocation Lookup";
    ViewData["Keywords"] = "ip address geolocation lookup, ip address locator, ip address finder, ip address check";
    ViewData["Url"] = "https://textport.com/tools/ip-address-lookup";
}

<script type="text/javascript">
    $(function () {
        $("#ip").mask('0ZZ.0ZZ.0ZZ.0ZZ', {
            translation: {
                'Z': {
                    pattern: /[0-9]/, optional: true
                }
            }
        });
    });
</script>

<div class="row align-items-center main-banner">
    <div class="col-lg-5">
        <img class="img-fluid rounded mx-auto d-block mb-4 mb-lg-0" src="~/Content/images/virtual-mobile-number.png" alt="Phone number lookup tool" height="300">
    </div>
    <div class="col-lg-7 text-center text-lg-left">
        <h1 class="font-weight-light">IP Address Lookup</h1>
        <h2>
            Perform searches on IP addresses to find out where emails originate from or web sites are located. This search will also display threat data to show whether the IP address has been blacklisted or marked as malicious for any reason.
        </h2>
    </div>
</div>
<div class="card background-lt-gray my-5 py-4 sub-banner">
    <div class="row">
        <div class="col-5 mx-auto">
            @using (Html.BeginForm("ip-address-lookup", "Tools", FormMethod.Post, new { id = "form-lookup" }))
            {
                @Html.AntiForgeryToken()
                <div class="mx-auto align-content-center border-primary">
                    <label for="phone-number" class="h5 mx-2">Enter an IP Address</label>
                    <div class="form-inline">
                        <div class="form-group mx-2">
                            @Html.TextBoxFor(m => m.ip, new { @class = "form-control form-control-lg lu-input" })

                        </div>
                        <button type="submit" id="btn-submit" class="btn btn-lg btn-primary">Lookup</button>
                    </div>
                    @Html.ValidationMessageFor(m => m.ip, null, new { @class = "text-danger mx-2" })
                </div>
            }
        </div>
    </div>
    @if (!String.IsNullOrEmpty(Model.ip))
    {
        <div class="row">
            <div class="col-5 mx-auto">
                @Html.Partial("_IPLookupResult", Model)
            </div>
        </div>
    }
</div>
<br />
