<div class="col-2 m-0">
    <nav class="navbar navbar-expand-md navbar-light p-0">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="list-group w-100">
                <a id="menu_profile" href="/account/profile" class="list-group-item list-group-item-action">Profile</a>
                <a id="menu_users" href="/users" class="list-group-item list-group-item-action">Users</a>
                <a id="menu_branches" href="/branches" class="list-group-item list-group-item-action">Branches</a>
                <a id="menu_numbers" href="/numbers" class="list-group-item list-group-item-action">Numbers</a>
                <a id="menu_contcts" href="/contacts" class="list-group-item list-group-item-action">Contacts</a>
                <a id="menu_groups" href="/groups" class="list-group-item list-group-item-action">Groups</a>
                <a id="menu_changepassword" href="/account/changepassword" class="list-group-item list-group-item-action">Change Password</a>
                <a id="menu_support" href="/home/support" class="list-group-item list-group-item-action">Support</a>
                <br />
            </div>
        </div>
    </nav>
</div>