<div class="col-md-3 ">
    <div class="list-group ">
        <a id="menu_profile" href="/account/profile" class="list-group-item list-group-item-action">Profile</a>
        <a id="menu_balance" href="/account/balance" class="list-group-item list-group-item-action">Balance</a>
        <a id="menu_numbers" href="/numbers/manage" class="list-group-item list-group-item-action">Numbers</a>
        <a id="menu_groups" href="/account/groups" class="list-group-item list-group-item-action">Groups</a>
        <a id="menu_contacts" href="#" class="list-group-item list-group-item-action">Contacts</a>
        <a id="menu_changepassword" href="/account/changepassword" class="list-group-item list-group-item-action">Change Password</a>
        <a id="menu_deleteaccount" href="#" class="list-group-item list-group-item-action">Delete Account</a>
        <a id="menu_support" href="/home/support" class="list-group-item list-group-item-action">Support</a>
    </div>
</div>