@using TextPortCore.Models
@model RegistrationData
@{
    ViewBag.Title = "TextPort: Trial Registration Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="card">
        <div class="card-header">
            <h4>@Model.CompletionTitle</h4>
        </div>
        <div class="card-body">
            @if (@Model.Success)
            {
                <br />
                <h5>Thanks for registering. An email has been sent to <strong>@Model.EmailAddress</strong>. Click the "Activate my Account" link in the email to activate your account and start using TextPort.</h5>
                <br />
                <h5>Thanks for trying TextPort</h5>
                <br />
            }
            else
            {
                <h5>There was a problem registering your account.</h5>
                <br />
                <p>@Html.Raw(Model.CompletionMessage)</p>
            }
        </div>
    </div>
</div>