<div class="jumbotron">
    <h1>Text Messaging API</h1>
    <p class="lead">A simple-to-use REST-based API for text messaging. Easily integrate SMS and MMS into your apps.</p>
    <p><a href="~/documentation/" class="btn btn-primary btn-lg">View API Documentation &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Send SMS with low latency and high delivery rates. Out pay-as-you-go plan lets you pay for only what you need.</p>
        <p><a class="btn btn-default" href="#features">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Setup Your Application</h2>
        <p>Get your API token and key. Specify an endpoint to receive message on and you're up and running.</p>
        <p><a class="btn btn-default" href="#setup">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>Click below for our Swagger-based API documentation. Each method is detailed applications.</p>
        <p><a class="btn btn-default" href="/swagger">Learn more &raquo;</a></p>
    </div>
</div>
<hr />
<br />
<a name="features" />
<div>
    <section class="feature-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="text-center">
                        <h1>Features</h1>
                        @*<p>Key features of the TextPort SMS API</p>*@
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="feature-box">
                        <i class="fa fa-gear fa-2x text-primary"></i>
                        <h4>Easy Integration</h4>
                        <p>A simple, industry-standard RESTful API. No downloads, installs or packages necessary. Support for all development languages and platforms. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="feature-box">
                        <i class="fa fa-gear fa-2x text-primary"></i>
                        <h4>Affordable Pricing</h4>
                        <p>Pay-as-you-go pricing. Pay for only what you need. No monthly minimums or recurring charges.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="feature-box">
                        <i class="fa fa-gear fa-2x text-primary"></i>
                        <h4>Choose Your Number</h4>
                        <p>Selet an area code, then choose your own dedicated virtual number. Use multiple numbers if you require a localized presence.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="feature-box">
                        <i class="fa fa-gear fa-2x text-primary"></i>
                        <h4>Multi-Format</h4>
                        <p>Submit requests in either JSON or XML format. Minimal request format creates lightweight request payloads.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="feature-box">
                        <i class="fa fa-gear fa-2x text-primary"></i>
                        <h4>Inbound Message Handling</h4>
                        <p>TextPort will forward delivery receipts and inbound messages to an endpoint on your network.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="feature-box">
                        <i class="fa fa-gear fa-2x text-primary"></i>
                        <h4>Multi-Message Support</h4>
                        <p>Package multiple messages into a single payload to reduce network overhead.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<hr />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="text-center">
                <h1>Pricing</h1>
            </div>
        </div>
    </div>
    <br />
    <div class="card-deck">
        <div class="col col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pay as You Go Pricing</h4>
                    <p class="card-text">Purchase a number, then purchase only the messaging credit you need.</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">No minimums or expirations</h5>
                    <p class="card-text">Purchase as little as $1.00. Messaging credit never expires</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">No recurring fees</h5>
                    <p class="card-text">No auto-bill, monthly minimums, or recurring fees</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card-deck">
        <div class="col col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Virtual Numbers</h5>
                    <p class="card-text">$6.00 per month</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Outbound SMS</h5>
                    <p class="card-text">Starting at <strong>$0.0011</strong> per message</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inbound SMS</h5>
                    <p class="card-text"><strong>FREE</strong></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card-deck">
        <div class="col col-sm-4">
            &nbsp;
        </div>
        <div class="col col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Outbound MMS</h5>
                    <p class="card-text">Start at <strong>$.0.025</strong> per message</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inbound MMS</h5>
                    <p class="card-text"><strong>FREE</strong></p>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<hr />
<a name="setup" />
<div class="container">
    <section class="feature-block">
        <div class="col-12">
            <h1 class="text-center">Setup</h1>
            <p>Log into you TextPort account. If you don't have an account yet, click <a href="https://textport.com/account/signup">here</a> to sign up. You can also try the API for free using our <a href="https://textport.com/trial">free trial</a>.</p>
            <div class="row">
                <div class="col-md-6 col-12">
                    <p>
                        Click your username in the top-right corner of any TextPort page. Select API Settings to display the page shown at right.
                    </p>
                    <p>
                        Enter the name of your application. The API Token and API Secret will be generated automatically. These are your API username and password. The secret key can be changed at any time by clicking the "generate new secret" link.
                    </p>
                    <p>
                        (Optional) If you intend to have TextPort forward inbound messages to your site/app, enter the URL of the endpoint or web-hook that will receive messages.
                    </p>
                    <p>
                        (Optional) If you implement security on your API endpoint, enter the username and password for that endpoint. TextPort will use basic authentication in the header to authenticate against your URL.
                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <img src="~/Content/images/apisettingspage.jpg" alt="API settings page" class="w-100" />
                </div>
            </div>
        </div>
    </section>
</div>
